<h1>Listing pledges for <%= @project.title %></h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pledges.each do |pledge| %>
      <tr>
        <td><%= pledge.user_id %></td>
        <td><%= pledge.amount %></td>
        <td><%= link_to 'Show', @pledge %></td>
        <td><%= link_to 'Edit', edit_project_path(pledge) %></td>
        <td><%= link_to 'Destroy', @project_id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>