<h1>Listing rewards</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project.rewards.each do |reward| %>
      <tr>
        <td><%= reward.project_id %></td>
        <td><%= reward.quantity %></td>
        <td><%= reward.description %></td>
        <td><%= reward.value %></td>
        <td><%= link_to 'Show', project_reward_path(@project, reward) %></td>
        <td><%= link_to 'Edit', edit_project_reward_path(@project, reward) %></td>
        <td><%= link_to 'Destroy', project_reward_path(@project, reward), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reward', new_project_reward_path %>
