<p>
  <strong>Project:</strong>
  <%= @reward.project_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @reward.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reward.description %>
</p>

<p>
  <strong>Value:</strong>
  <%= @reward.value %>
</p>

<%= link_to 'Edit', edit_project_reward_path(@project, @reward) %> |
<%= link_to 'Back', project_rewards_path %>
