<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Goal:</strong>
  $<%= @project.goal %>
    <% if @project.pledges.sum("amount") >= @project.goal %>
        <%= "Funding goal reached!" %>
      <% else %>
        || $<%= @project.goal - @project.pledges.sum("amount")%>
        <Strong>: To Goal</strong>
        <% end %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @project.startdate %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @project.enddate %>
</p>

<p><h5>Total Pledges So Far</h5>
  $<%= @project.pledges.sum("amount") %>
</p>

<% if current_user.id == @project.founder_id %>
  <%= link_to "Create new reward", new_project_reward_path(@project) %>

<% end %>


<% if current_user %>
<%= form_for [@project, @pledge] do |f| %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'Show Pledges', project_pledges_path(@project) %>

