<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @project.goal %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @project.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @project.enddate %>
</p>

<% if current_user %>
<%= form_for [@project, @pledge] do |f| %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

